#editorInputJSONPath {
    width: 300px;
    height: 300px;
}

#editorOutputJSONPath {
    width: 300px;
    height: 300px;
}

#editorInputJSONObject {
    width: 300px;
    height: 300px;
}

#editorInputJSONSchema {
    width: 300px;
    height: 300px;
}