#editorInputJSONPath {
    width: 100%;
    height: 600px;
}

#editorOutputJSONPath {
    width: 100%;
    height: 600px;
}

#editorInputJSONObject {
    width: 300px;
    height: 600px;
}

#editorInputJSONSchema {
    width: 300px;
    height: 600px;
}

nav a {
    color: rgb(53, 53, 53) !important;
}

.active {
    background-color: rgb(188, 229, 253);
    color: black !important;
    border-radius: 6px;
}

.jsonPRow{
    margin: 1% 6%;
}

.jsonPEditorsRow{
    margin: 0% 1%;
}
